<main class="container my-4">
  <div class="row justify-content-center g-3 mt-2">
    <div class="col col-lg-8 col-xxl-6">
      <h1 class="fs-2">Exclusão de Atividade</h1>

      <hr />
      <mat-card
        class="card-listagem card-animado mat-mdc-elevation-specific mat-elevation-z3"
      >
        <mat-card-header>
          <mat-card-title>{{ detalhesAtividade?.tipo ? "Consulta" : "Cirurgia" }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="d-grid mt-4">
          <span><strong>Data:</strong> {{ getDataFormatada(detalhesAtividade?.horaInicio) }}</span>
        </mat-card-content>
      </mat-card>

      <div class="row justify-content-end g-2 gap-1 mt-5">
        <button
          (click)="excluir()"
          mat-flat-button
          class="col-md-3"
          type="button"
        >
          <mat-icon>check</mat-icon>
          Confirmar
        </button>

        <button
          mat-stroked-button
          class="col-md-3"
          type="button"
          [routerLink]="['/atividades', 'listar']"
        >
          <mat-icon>keyboard_return</mat-icon>
          Voltar
        </button>
      </div>
    </div>
  </div>
</main>
