<main class="container my-4">
  <div class="col col-lg-8 col-xxl-6">
    <h1 class="fs-2">Cadastro de Medico</h1>

    <hr />

    <form [formGroup]="medicoForm" (ngSubmit)="cadastrar()">
      <mat-form-field class="w-100 mt-5" appearance="fill">
        <mat-label>Nome </mat-label>
        <input
          matInput
          data-cy="nome"
          formControlName="nome"
          autocomplete="name"
          placeholder="Ex: Joao Silva"
          [maxlength]="30"
        />
        <mat-icon matSuffix color="primary">Nome</mat-icon>
        <mat-error class="text-white" *ngIf="nome?.invalid">
          <span *ngIf="nome?.errors?.['required']"
            >O nome precisa ser preenchido.</span
          >
          <span *ngIf="nome?.errors?.['minlength']"
            >O nome deve conter ao menos 3 caracteres.</span
          >
          <span *ngIf="nome?.errors?.['maxlength']"
            >O nome deve conter no máximo 30 caracteres.</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mt-5" appearance="fill">
        <mat-label>CRM</mat-label>
        <input
          matInput
          data-cy="crm"
          formControlName="crm"
          autocomplete="none"
          placeholder="Ex: 12345-SC"
          [maxlength]="30"
        />
        <mat-icon matSuffix color="primary">CRM</mat-icon>
        <mat-error class="text-white" *ngIf="crm?.invalid">
          <span *ngIf="crm?.errors?.['required']"
            >O crm precisa ser preenchido.</span
          >
          <span *ngIf="crm?.errors?.['minlength']"
            >O crm deve conter 8 caracteres.</span
          >
          <span *ngIf="crm?.errors?.['maxlength']"
            >O crm deve conter 8 caracteres.</span
          >
        </mat-error>
      </mat-form-field>

      <div class="row justify-content-end g-2 mt-5">
        <button type="submit" mat-flat-button color="primary" class="col-sm-4 col-md-3">
          <mat-icon>check</mat-icon>
          Confirmar
        </button>
        <a
          mat-stroked-button
          class="col-sm-4 col-md-3"
          routerLink="/medicos"
        >
          <mat-icon>keyboard_return</mat-icon>
          Voltar
        </a>
      </div>
    </form>
  </div>
</main>
